    p{font-family: monospace;
        text-align: center;
        color: red;
        font-size: 40px;
        }
    h1 {font-family:monospace;
        text-align: center;
        color: MidnightBlue;
        }